table.tableKertasKerja thead th {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

table.tableKertasKerja > thead tr,
table.tableKertasKerja > tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  box-shadow: inset 0px -1px 0px #c9cbcf;
}

table.tableKertasKerja > tbody {
  overflow-y: scroll;
  max-height: 260px;
  width: 100%;
  display: block;
}

table.tableKertasKerja tbody tr {
  height: 52px;
}

table.tableKertasKerja tbody td span {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.borderDashed {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23808489' stroke-width='1' stroke-dasharray='8 8' stroke-dashoffset='5' linecap='square'/%3e%3c/svg%3e");
}
