table.searchTable {
  box-shadow: 0px 8px 20px rgba(37, 40, 43, 0.2);
  border-radius: 4px;
}

table.searchTable > tbody {
  overflow-y: scroll;
  height: 100px;
  width: 100%;
  display: block;
}
table.searchTable > thead,
table.searchTable > tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table.searchTable thead tr:last-child th {
  padding-top: 10px;
  padding-bottom: 10px;
}

table.searchTable thead tr:last-child th:first-child {
  padding-left: 20px;
}

table.searchTable thead tr:last-child th:last-child {
  padding-right: 20px;
}

table.searchTable tbody td {
  padding-top: 14px;
  padding-bottom: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
}

table.searchTable tbody td:first-child {
  padding-left: 20px;
}

table.searchTable tbody td:last-child {
  padding-right: 20px;
}
