@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-64 {
  width: 64px;
  height: 64px;
}

.h-content {
  height: fit-content;
}

.pointer-events-initial {
  pointer-events: initial;
}

.capitalize-first {
  text-transform: capitalize;
}

.scrollBar::-webkit-scrollbar {
  width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #d9dbdd;
  border-radius: 8px;
}

.scrollBarHor::-webkit-scrollbar {
  height: 8px;
}

.scrollBarHor::-webkit-scrollbar-thumb {
  background: #d9dbdd;
  border-radius: 8px;
}

/*
  These class for electron-find
  Please don't use same class with these below
*/

.find-box {
  position: unset !important;
  border: 1px solid #808489;
  box-shadow: unset !important;
  border-radius: 4px;
}

.find-case {
  display: none !important;
}

/*
  End
*/

/*
  Start Reset CSS
*/

button:focus {
  outline: unset;
}

/*
  End
*/
