@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-64 {
  width: 64px;
  height: 64px;
}

.h-content {
  height: fit-content;
}

.pointer-events-initial {
  pointer-events: initial;
}

.capitalize-first {
  text-transform: lowercase;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}
