@media (min-height: 780px) {
  .heightTableTahun {
    height: 330px;
  }
  .heightTableTahap {
    height: 300px;
  }
}

@media (min-height: 850px) {
  .heightTableTahun {
    height: 450px;
  }
  .heightTableTahap {
    height: 420px;
  }
}

table.tableKertasKerja {
  width: 100%;
  table-layout: fixed;
}

table.tableKertasKerja thead th {
  padding: 1rem;
  font-weight: 400;
}

table.tableKertasKerja tbody tr {
  height: 52px;
}

table.tableKertasKerja tbody td {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line {
  box-shadow: inset 0px -1px 0px #c9cbcf;
}

.code {
  width: 120px;
}

.expand {
  width: 56px;
}

.total {
  width: 206px !important;
}

.price {
  width: 150px !important;
}

.priceMonth {
  width: 120px !important;
}

.amount {
  width: 60px;
}

table.borderRight td {
  border-right: 2px solid #f5f5f5;
}

table.tableRekeningBelanja td:first-child {
  width: 600px;
}
